span.box_2456 {
    position: fixed; 
    height: 150px;
    width: 250px;
    background:rgb(71, 143, 202); 
    z-index:100; 
    right: 0px; 
    top: 87px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    transition: 0.3s ease-in-out;
};
