span.box_2456 {
    position: fixed; 
    height: 150px;
    width: 250px;
    background:black; 
    z-index:100; 
    right: -220px; 
    top: 87px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
  };
  
  span.box_2456:hover {
    right: 0px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px; 
  };
